asgiref==3.9.1
boto3==1.40.14
botocore==1.40.14
Django==4.2.11
django-ckeditor-5==0.2.18
django-environ==0.12.0
django-phonenumber-field==8.1.0
django-storages==1.14.6
jmespath==1.0.1
phonenumberslite==9.0.11
pillow==11.3.0
psycopg2==2.9.10
python-dateutil==2.9.0.post0
s3transfer==0.13.1
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
