<footer class="footer bg-body border-top" data-bs-theme="dark">
      <div class="container pt-sm-2 pt-md-3 pt-lg-4">
        <!-- Features -->
        <div class="border-bottom pt-5 pb-3">
          <div class="row row-cols-2 row-cols-md-4 gy-2">
            <div
              class="col d-flex justify-content-center justify-content-md-start pb-3"
            >
              <i class="fi-copy fs-4 text-light-emphasis"></i>
              <div class="h6 text-body-secondary ps-1 ms-2 mb-0">
                Plusieurs voiutures disponibles
              </div>
            </div>
            <div
              class="col d-flex justify-content-center justify-content-md-start pb-3"
            >
              <i class="fi-document-search fs-4 text-light-emphasis"></i>
              <div class="h6 text-body-secondary ps-1 ms-2 mb-0">
                Choisissez votre voiture
              </div>
            </div>
            <div
              class="col d-flex justify-content-center justify-content-md-start pb-3"
            >
              <i class="fi-money-check fs-4 text-light-emphasis"></i>
              <div class="h6 text-body-secondary ps-1 ms-2 mb-0">
                Réservation rapide et facile
              </div>
            </div>
            <div
              class="col d-flex justify-content-center justify-content-md-start pb-3"
            >
              <i class="fi-lightbulb fs-4 text-light-emphasis"></i>
              <div class="h6 text-body-secondary ps-1 ms-2 mb-0">
                Voiture à prix abordable
              </div>
            </div>
          </div>
        </div>

        <!-- Column with links that are turned into accordion on screens < 500px wide (sm breakpoint) + Download app CTA -->
        <div class="accordion row pb-4 py-sm-5" id="footerLinks">
          <div class="col-sm-4 col-md-3">
            <div class="accordion-item border-0">
              <h6 class="accordion-header" id="buySellHeading">
                <span class="d-none d-sm-block pb-1 mb-2"
                  >Location de voiture Sénégal</span
                >
              </h6>
              <div
                class="accordion-collapse collapse d-sm-block"
                id="buySell"
                aria-labelledby="buySellHeading"
                data-bs-parent="#footerLinks"
              >
                <ul
                  class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0"
                >
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Dakar</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Thies</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Saint-Louis</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Diourbel</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Kaolack</a
                    >
                  </li>
                </ul>
              </div>
              <hr class="d-sm-none my-0" />
            </div>
          </div>
          <div class="col-sm-4 col-md-2 col-lg-3">
            <div class="accordion-item border-0">
              <h6 class="accordion-header" id="aboutLinksHeading">
                <span class="d-none d-sm-block pb-1 mb-2">Louer une voiture au Sénégal</span>
                <button
                  type="button"
                  class="accordion-button collapsed py-3 d-sm-none"
                  data-bs-toggle="collapse"
                  data-bs-target="#aboutLinks"
                  aria-expanded="false"
                  aria-controls="aboutLinks"
                >
                  About
                </button>
              </h6>
              <div
                class="accordion-collapse collapse d-sm-block"
                id="aboutLinks"
                aria-labelledby="aboutLinksHeading"
                data-bs-parent="#footerLinks"
              >
                <ul
                  class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0"
                >
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Ziguinchor</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Kédougou</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Kaffrine</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Fouta</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Aéroport AIBD</a
                    >
                  </li>
                </ul>
              </div>
              <hr class="d-sm-none my-0" />
            </div>
          </div>
          <div class="col-sm-4 col-md-2 col-xl-3">
            <div class="accordion-item border-0">
              <h6 class="accordion-header" id="profileLinksHeading">
                <span class="d-none d-sm-block pb-1 mb-2">Location de voiture pas cher</span>
              </h6>
              <div
                class="accordion-collapse collapse d-sm-block"
                id="profileLinks"
                aria-labelledby="profileLinksHeading"
                data-bs-parent="#footerLinks"
              >
                <ul
                  class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0"
                >
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location voiture Lac Rose</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Mbour</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Saly</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Somone</a
                    >
                  </li>
                </ul>
              </div>
              <hr class="d-sm-none my-0" />
            </div>
          </div>

          <!-- Download app CTA -->
          <div class="col-sm-4 col-md-2 col-xl-3">
            <div class="accordion-item border-0">
              <h6 class="accordion-header" id="#">
                <span class="d-none d-sm-block pb-1 mb-2">Location de voiture pas cher</span>
              </h6>
              <div
                class="accordion-collapse collapse d-sm-block"
                id="profileLinksHeadings"
                aria-labelledby="profileLinksHeadings"
                data-bs-parent="#footerLinks"
              >
                <ul
                  class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0"
                >
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location voiture Lac Rose</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Mbour</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Saly</a
                    >
                  </li>
                  <li class="pt-1">
                    <a
                      class="nav-link hover-effect-underline d-inline text-body fw-normal p-0"
                      href="#!"
                      >Location de voiture Somone</a
                    >
                  </li>
                </ul>
              </div>
              <hr class="d-sm-none my-0" />
            </div>
          </div>
        </div>

      </div>
    </footer>