{% extends "layout.html" %}
{% load static %}
{% block content %}

    <!-- Page content -->
<section style="background: #fe9306;">
            <div class="container pt-5 pb-4">
                <div class="row pt-5">
                    <div class="col-12 text-center">
                        <h1 class="display-1 text-white fw-bold">Inscription</h1>
                        <p class="text-white">
                            Créez votre compte pour accéder à toutes les offres de location de voitures et profiter d'une expérience personnalisée.
                        </p>
                    </div>
                </div>
            </div>
</section>
    <main class="content-wrapper w-100 px-3 ps-lg-5 pe-lg-4 mx-auto" style="max-width: 1920px; background-color: #f8f9fa;">
        <!-- Page title -->
        <div class="row pt-5 pb-4">
            <div class="col-12 text-center">
                <h1 class="h2 mb-0">
                    Renseignez vos informations
                </h1>
            </div>
        </div>

        <!-- Form -->
      <div class="row pb-5 justify-content-center">
        <div class="col-md-4">
          <!-- Form -->
          <form class="needs-validation" novalidate="" method="POST">
            {% csrf_token %}
               <div class="position-relative mb-4">
              <label class="form-label">Vous êtes ? <span class="text-danger">*</span></label>
                                        {% for sexe in form.user_type %}
									<div class="d-flex gap-4">
										<div class="form-check radio-bg-light">
                                            {{ sexe }}
										</div>
                                        {% endfor %}
									</div>
            </div>
              <div class="position-relative my-4">
              <label class="form-label">Prénom</label>
                {{ form.first_name }}
            </div>
              <div class="position-relative mb-4">
              <label class="form-label">Nom</label>
                {{ form.last_name }}
            </div>
              <div class="position-relative mb-4">
              <label class="form-label">Email</label>
                {{ form.email }}
            </div>
              <div class="position-relative mb-4">
              <label class="form-label">Votre numéro de téléphone</label>
                {{ form.phone_number }}
            </div>
            <div class="mb-4">
              <div class="password-toggle">
                   <label class="form-label">Mot de passe</label>
                                    {{ form.password1 }}
                <div class="invalid-tooltip bg-transparent py-0">Majuscule, minuscule, chiffre</div>

              </div>
            </div>
              <div class="mb-4">
              <div class="password-toggle">
                   <label class="form-label">Confirm Votre Mot de passe</label>
                                    {{ form.password2 }}
                <div class="invalid-tooltip bg-transparent py-0">Majuscule, minuscule, chiffre</div>

              </div>
            </div>

            <button type="submit" class="btn btn-lg btn-dark w-100">Enregistrer</button>
          </form>
          <div class="nav fs-sm mb-4">
              Vous avez déjà un compte ?
            <a class="nav-link text-decoration-underline p-0 ms-2" href="{% url 'login' %}">
                Connectez-vous
            </a>
          </div>

        </div>

        </div>
    </main>

{% endblock %}